!!!
%html{"ng-app" => "Funection"}
  %head
    /
      \==============================================
      Title and Meta Tags
      \===============================================
    %meta{:charset => "utf-8"}/
    %title Team Funection
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %link{:href => "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    :coffee
      window.relative_url_root = "#{ActionController::Base.config.relative_url_root}"
    /
      \==============================================
      Favicons
      \===============================================
    %link{:href => "assets/images/favicon.ico", :rel => "shortcut icon"}/
    = javascript_include_tag('application')

    = stylesheet_link_tag('application', media: 'all')

    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700", :rel => "stylesheet", :type => "text/css"}/
    /
      \==============================================
      JS
      \===============================================
    /[if lt IE 9]
      <script src="assets/js/libs/respond.min.js"></script>
  %body{"data-offset" => "200", "data-spy" => "scroll", "data-target" => "#main-nav"}
    / === PAGE PRELOADER ===
    #page-loader
      %span.page-loader-gif
    /
      \==============================================
      MAIN NAV
      \===============================================
    #main-nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#site-nav", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / ======= LOGO ========
          %a.navbar-brand.scrollto{:href => "#home"}
            = image_tag("logo")
            Team Funection
        #site-nav.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li.sr-only
              %a.scrollto{:href => "#home"} Home
            %li
              %a.scrollto{:href => "#services"} Infos
            %li
              %a.scrollto{:href => "#about"} Über uns
            %li
              %a.scrollto{:href => "#location"} Location
            %li
              %a.scrollto{:href => "#contact"} Anmelden
        / End navbar-collapse
      / End container
    / End main-nav
    /
      \==============================================
      HEADER
      \===============================================
    %header#home
      .container.text-center
        %h1 Team Funection
        %h2 presents
        %h1 Neon ^5
    / End header

    %section#services.add-padding
      .container
        %h2.section-title.big-text.scrollimation.fade-up Datum | Eintritt | Programm
        .row
          .col-sm-4.service-item.color1.scrollimation.scale-in.d2
            .service-icon
              %i.fa.fa-rocket

            %h3 Datum und Einlass
            %p
              %b
                Datum:
              Samstag, den 12.03.2016
            %p
              %b
                1. Teil:
              Zwischen 17.45 Uhr und 18.30 Uhr
              %br
              %b
                2.Teil:
              ab 21:30 Uhr
          .col-sm-4.service-item.color2.scrollimation.scale-in.d1
            .service-icon
              %i.fa.fa-eur
            %h3 Eintritt
            %b
              Einmalig 10 Euro
            %p
              Enthalten sind u.a. die Raumkosten, Dekoration, Sound- und Licht-Anlage,..

          .col-sm-4.service-item.color3.scrollimation.scale-in.d2
            .service-icon
              %i.fa.fa-hand-o-up
            %h3 Programm

            %p
              %b
                18:30 Uhr:
              Standard-Partnertänze, Line Dance, Gruppentanz
              %br
              %b
                Ab 22:00 Uhr:
              Freestyle, Top 100, Electro, Black
    %section#services.add-padding
      .container
        %h1.section-title.big-text.scrollimation.fade-up Getränke | Essen | Dresscode
        .row
          .col-sm-4.service-item.color3.scrollimation.scale-in.d2
            .service-icon
              %i.fa.fa-glass

            %h3 Getränke
            Gibt es vor Ort (z. B. 0,4l Cola – 0,60€)

          .col-sm-4.service-item.color2.scrollimation.scale-in.d2
            .service-icon
              %i.fa.fa-cutlery
            %h3 Essen

            %p

              %br
              Alle, die zum
              %b
                ersten
              Teil kommen, bringen bitte Fingerfood fürs Buffet mit (Verzehr ohne Besteck). Die Menge wählt bitte entsprechend eurem Hunger.
          .col-sm-4.service-item.color1.scrollimation.scale-in.d1
            .service-icon
              %i.fa.fa-black-tie
            %h3 Dresscode
            %p
              %b
                Neon
              %br
              Es gilt: Farbe bekennen. Je bunter desto besser =).  Es leuchtet im Schwarzlicht und ist schicklich? Perfekt!


    %section#location.add-padding-small.bg-color1
      .container
        .row
          .col-sm-4.service-item.scrollimation.scale-in.d2
            %h2

            .service-icon
              %i.fa.fa-map-o
            %h3 Location
            %p
              Kulturscheune Thyrow
              %br
              Bahnhofstraße 89
              %br
              14974 Trebbin
              %br
          .col-sm-8.service-item.scrollimation.scale-in.d2
            #gmap


    /
      \==============================================
      ABOUT
      \===============================================
    %section#about.add-padding.bg-color2
      .container
        .row
          .col-sm-5.scrollimation.fade-right.d3
            .our_business
              %div
                = image_tag('harry-rouven-min', class: "img-responsive")
              %div
                = image_tag('jungs_gruppe-min', class: "img-responsive")
              %div
                = image_tag('katja_bianca-min', class: "img-responsive")
              %div
                = image_tag('katy_david-min', class: "img-responsive")
              %div
                = image_tag('lydia-min', class: "img-responsive")
              %div
                = image_tag('marcel_bianca-min', class: "img-responsive")
          .col-sm-7.scrollimation.fade-left.d3
            %h1
              Was ist das Team Funection?
            %br

            %p.lead
              Das Funection-Team - Aus zwei mach‘ neun = fünf!
            %p
              Man nehme zwei verrückte Jungs, werfe eine Idee in den Raum und schon hat es Auswirkungen auf viele - auch auf dich!
            %p
              Du lachst? Das haben wir anderen auch und schon war das Funection-Team ins Leben gerufen. Manche sind „aus Versehen“ reingerutscht worden, andere haben den Fehler gemacht und ein Funection-Teammitglied geheiratet. Und der Rest? Der hat Bestandsschutz.
            %p
              So qualmen inzwischen also 9 Köpfe, um eine super Party auf die Beine zu stellen. Was kommt nach Black and Red, Smart Casual + Hut, Blue and White und der Century-Party? Die fünfte, unvergessliche Funection-Party!
            %p
              Euer Team:
              %i
                Bianca & Marcel Matzat, Rouven Behnke, Christian Besser, Lydia & Harald Firchau, David & Ketura Lüdtke und Katja Schultze


    %section#contact.add-padding
      .container.text-center
        .row
          .col-sm-6.col-md-5.text-right.scrollimation.fade-up.d1
            %h1.big-text Anmeldung
            %p.lead Wenn du gerne mit uns feiern würdest, dann melde dich bitte mit dem Formular an.
            %p
              Wir
              %b
                garantieren,
              dass es eine schöne und ordentliche Feier wird. Dafür achten wir besonders auf unsere Gästeliste.
            %p
              %b
                Bitte beachtet unbedingt, dass nur getaufte Zeugen Jehovas über 16 Jahren eingelassen werden.


            %p Es wäre auch super, wenn ihr euer momentanes Lieblingslied eintragen würdet. Wir haben etwas Besonderes damit vor =)

            %p
              Ihr habt vor eurer Anmeldung noch Fragen? Wir freuen uns auf eure E-Mail:
              %b
                = mail_to "funection@outlook.com", "funection@outlook.com"
          .col-sm-6.col-md-offset-1.scrollimation.fade-left.d3

            = render :template => "registrations/new"


    /
      \==============================================
      MAP
      \===============================================

    /
      \==============================================
      FOOTER
      \===============================================
    %footer#main-footer.add-padding.bg-color3.border-top-color2

    /
      \==============================================
      SCRIPTS
      \===============================================
    :javascript
      window.jQuery || document.write('<script src="assets/js/libs/jquery-1.9.1.min.js">\x3C/script>')
    %script{:src => "http://maps.google.com/maps/api/js?sensor=true"}
    %script{:src => "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js", :type => "text/javascript"}


    :javascript
      var mapPoint = {
      		'lat': 52.2498739,
      		'lng': 13.2426775,
      		'zoom' : 15,
      		'infoText':'<p>Kulturscheune Thyrow \
      					<br/>14974 Trebbin\
      					<br/>Bahnhofstraße 89</p>',
      		'linkText':'Auf Google Maps anschauen',
      		'mapAddress':'Kulturscheune Thyrow',
      	};