- knows = ["Ja", "Nein"]
%div{'ng-controller' => 'FormCtrl', 'data-form-id' => SecureRandom.hex, 'data-knows' => knows}
  .form-group
    .error{'ng-if' => 'error'}
      = "waddafuck"

  = form_tag registrations_path, name: 'registration_form', 'ng-submit' => 'send()' do |form|
    %label
      = "Bitte fülle folgende Informationen aus"

    .form-group
      .controls
        = text_field_tag('first_name', '', 'ng-model' => 'formValues.first_name', required: 'true', class: 'form-control', :placeholder => "Vorname")

    .form-group
      .controls
        = text_field_tag('last_name', '', 'ng-model' => 'formValues.last_name', required: 'true', class: 'form-control', :placeholder => "Nachname",)

    .form-group
      .controls
        = text_field_tag('email', '', 'ng-model' => 'formValues.email', class: 'form-control', :placeholder => "Nachname")

    .form-group
      .controls
        = text_field_tag('fav-song', '', 'ng-model' => 'formValues.fav_song', required: 'true', class: 'form-control', :placeholder => "Favourite Song")

    .form-group
      .select
        = text_field_tag('fav-song', '', 'ng-model' => 'formValues.fav_song', required: 'true', class: 'form-control', :placeholder => "Favourite Song")
    .form-group
      %label
        = "Kennst du ein Funection Mitglied persönlich?"

      %select{'ng-model' => 'formValues.acqu', 'ng-options' => "know for know in knows", 'ng-required' => 'true', class: 'form-control'}


    .form-group
      .col-sm-offset-3.col-sm-9
      = button_tag(t('.submit'), 'ng-click' => 'send()', 'ng-disabled' => 'registration_form.$invalid', type: 'button', class: 'btn btn-primary')

      .form-group
        .error{'ng-if' => 'sent'}
          = "Danke für dein Vertrauen"





