- knows = ["ja", "nein"]
- martial = ["Einzelperson", "Ehepaar", "Familie"]
- partselection = ["Part1(Partnertanz)", "Part2(Freestyle)", "Part1 & Part2"]
%div{'ng-controller' => 'FormCtrl', 'data-form-id' => SecureRandom.hex, 'data-knows' => knows, 'data-marital' => martial, 'data-partselection' => partselection}
  .form-group
    .error{'ng-if' => 'error'}


  = form_tag registrations_path, name: 'registration_form', 'ng-submit' => 'send()' do |form|

    .form-group
      .error{'ng-if' => 'sent'}
        %h2.forestgreen
          = "Deine Anmeldung war erfolgreich"

    .form-group
      %label Bitte wähle deine Anmeldeart
      .controls
        %select{'ng-model' => 'marital_statuus', 'ng-options' => "marita for marita in marital_status", class: 'form-control'}


    .div{'ng-if' => 'marital_statuus'}

      .form-group
        .controls
        .div{'ng-if' => 'marital_statuus=="Familie"'}
          %input{:name => "persons", 'ng-model' => 'formValues.persons', required: 'true', class: 'form-control', placeholder: "Anzahl der Familienmitglieder z.B.: 4", :type => "text"}

      .form-group
        .controls
        .div{'ng-if' => 'marital_statuus=="Einzelperson"'}
          %input{:name => "first_name", 'ng-model' => 'formValues.first_name', required: 'true', class: 'form-control', placeholder: "Dein Vorname", :type => "text"}
        .div{'ng-if' => 'marital_statuus!="Einzelperson"'}
          %input{:name => "first_name", 'ng-model' => 'formValues.first_name', required: 'true', class: 'form-control', placeholder: "Eure beiden Vornamen, z.B.: Sabine, Thorsten", :type => "text"}


      .form-group
        .controls
        .div{'ng-if' => 'marital_statuus=="Einzelperson"'}
          %input{:name => "last_name", 'ng-model' => 'formValues.last_name', required: 'true', class: 'form-control', placeholder: "Dein Nachname", :type => "text"}
        .div{'ng-if' => 'marital_statuus!="Einzelperson"'}
          %input{:name => "last_name", 'ng-model' => 'formValues.last_name', required: 'true', class: 'form-control', placeholder: "Euer Nachname", :type => "text"}


      .form-group
        .controls
        .div{'ng-if' => 'marital_statuus=="Einzelperson"'}
          %input{:name => "email", 'ng-model' => 'formValues.email', required: 'true', class: 'form-control', placeholder: "Deine Email-Adresse", :type => "text"}
        .div{'ng-if' => 'marital_statuus!="Einzelperson"'}
          %input{:name => "email", 'ng-model' => 'formValues.email', required: 'true', class: 'form-control', placeholder: "Eure E-Mail-Adresse", :type => "text"}

      .form-group
        .controls
        .div{'ng-if' => 'marital_statuus=="Einzelperson"'}
          %input{:name => "fav_song", 'ng-model' => 'formValues.fav_song', required: 'true', class: 'form-control', placeholder: "Dein momentanes Lieblingslied", :type => "text"}
        .div{'ng-if' => 'marital_statuus!="Einzelperson"'}
          %input{:name => "fav_song", 'ng-model' => 'formValues.fav_song', required: 'true', class: 'form-control', placeholder: "Eure momentanen Lieblingslieder", :type => "text"}

      %label
        = "An welchen Parts würdet ihr/du gerne teilnehmen?"

      .form-group
        %select{'ng-model' => 'partcollector', 'ng-options' => "part for part in parts", 'ng-required' => 'true', class: 'form-control', 'ng-change' => 'partselection_eval(partcollector)'}


      .form-group
        %label{'ng-if' => 'marital_statuus=="Einzelperson"'}
          = "Kennst du ein Funection Mitglied persönlich?"
        %label{'ng-if' => 'marital_statuus!="Einzelperson"'}
          = "Kennt ihr ein Funection Mitglied persönlich?"


        %select{'ng-model' => 'acqucollector', 'ng-options' => "acqu for acqu in acqus", 'ng-required' => 'true', class: 'form-control', 'ng-change' => 'showSelectValue(acqucollector)'}
        %br

      .form-group{'ng-if' => 'acqucollector=="nein"'}
        .controls
          Von wem wurdest du eingeladen?
          %input{:name => "acquaintance", 'ng-model' => 'formValues.acquaintance', required: 'true', class: 'form-control', placeholder: "Vor und Nachname", :type => "text"}
      .form-group
        .controls
          = text_area('questions', '', 'ng-model' => 'formValues.questions', class: 'form-control', :placeholder => "Weitere Fragen/Anmerkungen?")

      .form-group
        .col-sm-offset-3.col-sm-9
        = button_tag("Anmelden", 'ng-click' => 'send()', 'ng-disabled' => 'registration_form.$invalid', type: 'button', class: 'btn btn-primary')





